<ng4-loading-spinner> </ng4-loading-spinner>
<div class="container">
  <div class="row"  style="text-align:center" *ngIf="foodDetail">
    
    <div class="col-xl-3 col-lg-4 col-sm-6" *ngFor="let item of foodDetail | paginate: { itemsPerPage: 30, currentPage: p }">
      <div  class="card cardContainer" style="height:400px;width: 33rem;border:5px solid blue">
        <img class="card-img-top" src={{item.url}} alt="Card image cap" width="320rem" height="250px">
        <div class="card-body" style="text-align:left">
          
          
            Title:{{item.title}}<br />
            <span *ngIf="item.rating">Rating:{{item.rating}}</span>
            
          <br>
          <br>
          <a [routerLink]="['/book',item.id]" class="btn btn-primary">More</a>
        </div>
      </div>
      <br />

      
      <br />
      
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>


    
    
    <br>
  </div>
</div>


